*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%), url(Images/LandingBackground.jpg);
    width: 100%;
    height: 100vh;
    min-height: 125vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.2;
    padding: 10px 8%;
    position: relative;
} 
#navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#logo{
    margin-top: 5rem;
    width: 150px; 
}
.selectLanguage{
    width: 120px;
    padding: 4px 30px 4px 30px;
    color: white;
    background: #00000062;
    justify-content: center;
    position: relative;
    appearance: none;
    border-radius: 2px;
    border-color: aliceblue;
}
body{
    background: #000;
}
